.container{
    display: flex;
    flex-direction: row;
    background-color: #FDECD8;
    justify-content: space-around;
    align-items: center;
    width: 880px;
    padding: 10px;
    flex-wrap: wrap;
}
.section-name{
    writing-mode: vertical-rl;
    text-orientation: upright;
        text-align: center
}
.skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skill-name {
    flex-basis: 150px;
        font-weight: bold;
}

.skill-hearts {
    display: flex;
}

.heart {
    color: #ff2d55;
    margin-right: 5px;
    filter:sepia(40%);
}

.other-skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
    .container{
        width: 750px;
    }
    .section-name{
        writing-mode:horizontal-tb;
        text-orientation: upright;
    }
}
.orange-border{
    border: 2px solid #EDA93E;
}