.container{
    display: flex;
    flex-direction: row;
    background-color: #FDECD8;
    justify-content: space-around;
    align-items: center;
    width: 880px;
    padding: 10px;
    flex-wrap: wrap;
}
.section-name{
    writing-mode: vertical-rl;
    text-orientation: upright;
        text-align: center
}
.skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skill-name {
    flex-basis: 150px;
        font-weight: bold;
}

.skill-hearts {
    display: flex;
}

.heart {
    color: #ff2d55;
    margin-right: 5px;
    filter:sepia(40%);
}

.other-skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .container{
        width: 750px;
    }
    .section-name{
        writing-mode:horizontal-tb;
        text-orientation: upright;
    }
}
.orange-border{
    border: 2px solid #EDA93E;
}

h3:nth-child(odd){
    color:#694D2E;
}
.hard-skills {
    display: flex;
    animation: slide-left 1s forwards;
}

@keyframes slide-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.other-skills {
    animation: slide-right 1s forwards;
}

@keyframes slide-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}