body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #251C19;
    font-family: 'Press Start 2P', sans-serif;
}

.color-palette{
    --licorice:#251C19;
    --antique-white: #FDECD8;
    --hunyadi-yellow: #EDA93E;
    --earth-yellow: #E5BB72;
    --coffee: #694D2E;
}

.full-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:35px
}

.centered-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contacts{
    width: 900px;
    display: flex;
    flex-direction: row;
    background-color: #EDA93E;
    height: 50px;
    justify-content: center;
    align-items:center;
}

.avatar-div{
    height: 300px;
    width: 300px;
    background-color: #FDECD8;
    position:relative;
    overflow: hidden;
    }
.avatar{
    height: 100%;
}
a img {
    padding-left: 5px;
    height: 25px;

}
a img:hover {
    padding-left: 5px;
    transition:transform 1s;
    transform:scale(105%);
}
.right-top {
    height: 300px;
    width: 600px;
    background-color: #FDECD8;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #694D2E;
}

h1{
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: 'Press Start 2P', cursive;
    color: #62361b;
    letter-spacing: 5px;
    line-height: 1.2;
}
h2 {
    color:#694D2E;

    font-size: 1.5rem;
}

h3 {

    font-size: 1rem;
}
h4 {    color:#694D2E;

    font-size: 0.7rem;
}
hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
p,li{
    font-size: 0.7rem;
}

@media screen and (max-width: 768px) {
    .avatar{
        height: 150px;
        width: 150px;
    }
    .avatar-div{
        height: 150px;
        width: 150px;
    }
    .right-top{
        height: 150px;
    }
    h1 {
        font-size: 1.3rem;
    }
    h2 {
        font-size:0.9rem;
    }
    .contacts{
        height: 25px;
        width: 750px;

    }
    a img {
        padding-left: 5px;
        height: 15px;
    }
    h3 {
        font-size: 0.6rem;
    }
    h4 {
        font-size: 0.4rem;
    }
    p, li{
        font-size: 0.4rem;
    }

}
.error-box{
    background-color: #FDECD8;
    width: 840px;
    padding: 30px;
}
.spacing-150 {
    line-height: 1.5;
}

li {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

li:nth-child(odd) {
    animation-delay: 0.2s;
}

li:nth-child(even) {
    animation-delay: 0.4s;
}