.color-palette{
    --licorice:#251C19;
    --antique-white: #FDECD8;
    --hunyadi-yellow: #EDA93E;
    --earth-yellow: #E5BB72;
    --coffee: #694D2E;
}

.full-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contacts{
    width: 900px;
    display: flex;
    flex-direction: row;
    background-color: #EDA93E;
    height: 50px;
    justify-content: center;
    align-items:center;
}
.avatar{
    height: 300px;
    width: 300px;
}
.avatar-div{
    height: 300px;
    width: 300px;
    background-color: #FDECD8;
}
a img {
    padding-left: 5px;
    height: 25px;
    filter: brightness(120%) sepia(70%);
}
a img:hover {
    padding-left: 5px;
    transform: scale(1.2);
}
.right-top {
    height: 300px;
    width: 600px;
    background-color: #FDECD8;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #694D2E;
}

h1{
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: 'Press Start 2P', cursive;
    color: #62361b;
}
h2 {
    font-size: 0.8rem;
}


@media screen and (max-width: 768px) {
    .avatar{
        height: 150px;
        width: 150px;
    }
    .avatar-div{
        height: 250px;
        width: 150px;
    }
    .right-top{
        height: 250px;
    }
    h1 {
        font-size: 1.3rem;
    }
    h2 {
        font-size: 0.5rem;
    }
    .contacts{
        height: 25px;
        width: 750px;

    }
    a img {
        padding-left: 5px;
        height: 15px;
    }

}