body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #251C19;
    font-family: Orbitron, sans-serif;
}

.color-palette {
    --licorice: #251C19;
    --antique-white: #FDECD8;
    --hunyadi-yellow: #EDA93E;
    --earth-yellow: #E5BB72;
    --coffee: #694D2E;
}

.full-page {
    display: flex;
    flex-direction: column;
    align-items: center
}

.centered-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    width: 900px;
    overflow: hidden;
}

.contacts {
    display: flex;
    flex-direction: row;
    background-color: #EDA93E;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.avatar-div {
    background-color: #FDECD8;
    position: relative;
    object-fit: cover;
    height: 300px;
}
.avatar {
    height: 100%;
}

.icons{
    display: flex;
    gap:10px;
    width:900px;
    justify-content: center;
    align-items: center
}
.icon:hover {
    animation-name: rotate;
    animation-duration: 1s; /* or any duration you want */
    animation-timing-function: ease-in-out; /* or any easing function you want */
}
strong {
    color:#d78516;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a{
    text-decoration: none;
    color: #000000;
}
a img {
    height: 25px;

}

a img:hover {
    transition: transform 1s;
    transform: scale(102%);
}

.right-top {
    justify-content: center;
    height: 300px;
    background-color: #FDECD8;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #694D2E;

}

h1 {
    font-size: 26px;
    color: #422e10;
}

h2 {
    color: #42311e;
    font-size: 24px;
}

h3 {

    font-size: 20px;
}

h4 {
    color: #5e472c;

    font-size: 18px;
}

p, li {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75);
}

.error-box {
    background-color: #FDECD8;
    width: 840px;
    padding: 30px;
}

.stack-list {
    display: flex;
    gap: 15px;
}

.stack-item {
    height: 25px;
    border-radius: 50%;
    animation: scale-animation 3.5s ease-in-out alternate infinite;}

.stack-item:nth-child(1) {
    animation-delay: 1s;
}

.stack-item:nth-child(2) {
    animation-delay: 2s;
}

.stack-item:nth-child(3) {
    animation-delay: 3s;
}

.stack-item:nth-child(4) {
    animation-delay: 4s;
}

.stack-item:nth-child(5) {
    animation-delay: 5s;
}

.stack-item:nth-child(6) {
    animation-delay: 6s;
}

.stack-item:nth-child(7) {
    animation-delay: 7s;
}

@keyframes scale-animation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.4);
    }
}

.container {
    display: flex;
    background-color: #FDECD8;
    padding: 10px 20px;
    flex-wrap: wrap;
    width: 900px;
}
.personal{
    display: flex;
    gap:15px;
    height: 250px;
    line-height: 20px;
}
.imgProject{
    width:50%;
    height: 100%;
}
.projLink{
    display: flex;
    justify-content: space-between;

}
.projDescription{
    display: flex;
    flex-direction: column;
}
hr{
    height: 2px;
    border: 0;
    background: linear-gradient(to right, #3B250C, #ffd3a5);
}

@media screen and (max-width: 930px){
    .full-page{
        align-content: center;
    }
    .centered-box{
        width:100%;
        padding: 5px;
        margin:0;
    }
    .container {
        padding: 5px 10px;
        flex-wrap: wrap;
        width:100%;
        gap:5px;
        line-height: 13px;
    }
    .contacts{
        width:100%;
    }
    .top-layout{
        flex-direction: column;
    }

    .avatar{
    }
    .right-top{
        width:100%;
    }
    .projLink{
        flex-direction: column;
    }
    .imgProject{
        width:100%;
    }
    h1{font-size: 15px}
    h2{font-size:14px}
    h3{font-size: 13px}
    h4{font-size: 11px}
    p,li{font-size: 10px}
}
@media screen and (max-width: 320px){
    .avatar-div{
        width: 100%;
    }
    .avatar{
        width:100%
    }
}

.resume-box{
    position:relative;


}
.button-menu{
    position:relative;
}
.buttons{
    background: #EDA93E;
    position:absolute;
    padding: 2px;
    bottom: -7px;
    right:-5px;
    border: 2px solid black;


}
.resume-button{
background: #E5BB72;
    font-size: 22px;
    border:1px solid #251C19;
    border-radius: 5px;
    cursor:pointer;
    padding: 5px;

}
.hr-button{
    background: black;
    margin:2px 0;
    width:100%
}
.resume-button:hover{
color: #694D2E;
}
.language-button:hover{
    color: #694D2E;
}